// Colors
$black: #000000;
$white: #ffffff;
$gray-dark: #333333;
$gray-light: #f8f9fa;
$gray-border: #1a1a1a;
$yellow: #ffc107; // Bootstrap warning
$red-price: #d9534f;
$nav-hover-bg: rgba(255, 255, 255, 0.1);

// Typography
$font-base: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

// Layout
$header-min-height: 55px;
$navbar-min-height: 60px;

// Implement whatapp 
$whatsapp-green: #25d366;
$whatsapp-dark: #128c7e;
$pulse-color: rgba(37, 211, 102, 0.4);

// Shadow
$btn-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);