@use 'variables' as *;

@keyframes pulse-animation {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}

.whatsapp-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  background-color: $whatsapp-green;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050; // Por encima de componentes de Bootstrap
  text-decoration: none;
  box-shadow: $btn-shadow;
  transition: transform 0.3s ease, background-color 0.3s ease;

  // El pulso
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $pulse-color;
    border-radius: 50%;
    z-index: -1;
    animation: pulse-animation 2s infinite;
  }

  &:hover {
    background-color: $whatsapp-dark;
    transform: scale(1.1);
    color: $white; // Evita que herede colores de enlace

    &::before {
      animation: none;
    }

    .whatsapp-btn__tooltip {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
  }

  &__icon {
    color: $white;
    font-size: 30px;
  }

  &__tooltip {
    position: absolute;
    right: 85px; // Ajustado por el nuevo tamaño del botón
    background-color: $gray-dark;
    color: $white;
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    white-space: nowrap;

    // Estado inicial: Oculto
    opacity: 0;
    visibility: hidden;
    transform: translateX(10px);
    transition: all 0.4s ease;
    pointer-events: none;

    // Flechita
    &::after {
      content: '';
      position: absolute;
      right: -6px;
      top: 50%;
      transform: translateY(-50%);
      border-left: 7px solid $gray-dark;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;

    }
  }
}